<div class="customizer js__customizer">

<!-- Customizer header [begin] -->
    <div class="customizer-header">
        <div class="customizer-header__display">
            <label class="customizer-header__display-label">Basic
                <input class="customizer-header__display-val js__display-basic" type="checkbox" checked>
            </label>
        </div>
        <div class="customizer-header__display">
            <label class="customizer-header__display-label">Advanced
                <input class="customizer-header__display-val js__display-advanced" type="checkbox" >
            </label>
        </div>
        <div class="customizer-header__display">
            <label class="customizer-header__display-label">Expert
                <input class="customizer-header__display-val js__display-expert" type="checkbox" >
            </label>
        </div>
    </div>
<!-- Customizer header [end] -->


<!-- Customizer body [begin] -->
    <div class="customizer-body">


        {{>customizerBody}}


    </div>
<!-- Customizer body [end] -->


<!-- Customizer footer [begin] -->
    <div class="customizer-footer">
        <a href="" class="customizer-footer__btn _clear-cache js__customizer-footer__btn-clear-cache" >Clear cache</a>
        <a href="" class="customizer-footer__btn _typo-conf js__customizer-footer__btn-typo-conf" >Generate TYPO3 Theme config</a>
    </div>
<!-- Customizer footer [end] -->


<!-- Customizer control buttons [begin] -->
<div class="js__customizer__hide-btn customizer__hide-btn"></div>
<!-- Customizer control buttons [end] -->

</div>

<!-- Customizer modal window [begin] -->
<div class="js__customizer-modal-overlay customizer-modal-overlay"></div>
<div class="customizer-modal">
    <textarea rows="20" class="customizer-modal__text js__customizer-modal__text" ></textarea>
</div>
<!-- Customizer modal window [end] -->
