{{~#is this.displayCategory "basic"~}}
<div class="customizer-dimension-input" data-display="basic">
{{~/is~}}
{{~#is this.displayCategory "advanced"~}}
<div class="customizer-dimension-input" data-display="advanced">
{{/is}}
{{~#is this.displayCategory "expert"~}}
<div class="customizer-dimension-input" data-display="expert">
{{~/is~}}
    <label class="customizer-dimension-input__title">{{title}}
        <input class="js__customizer-dimension-input__val customizer-dimension-input__val" type="text" placeholder="{{placeholder}}" data-lessvar="{{dimensionVar}}">
        <div class="customizer-dimension-input__return-to-default js__customizer-dimension-input__return-to-default">
            <span class="customizer-dimension-input__tooltip">Return to default value</span>
        </div>
    </label>
</div>
