{{~#is this.displayCategory "basic"~}}
<div class="customizer-element-status" data-display="basic">
{{/is}}
{{~#is this.displayCategory "advanced"~}}
<div class="customizer-element-status" data-display="advanced">
{{~/is~}}
{{~#is this.displayCategory "expert"~}}
<div class="customizer-element-status" data-display="expert">
{{~/is~}}
    <label class="customizer-element-status__title">{{title}}
        <input class="js__customizer-element-status__val customizer-element-status__val" type="checkbox" data-elclass="{{elclass}}" data-status="{{title}}" {{#is this.visibleByDefault true}}checked{{/is}}>
        <span class="customizer-element-status__checkbox"></span>
        <div class="customizer-element-status__return-to-default js__customizer-element-status__return-to-default">
            <span class="customizer-element-status__tooltip">Return to default value</span>
        </div>

    </label>
</div>
